################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GQTwitterFollowers/bin
/GQTwitterFollowers/Files/Users - Copy.xml
/GQTwitterFollowers/Files/Unfollow - Copy.xml
/GQTwitterFollowers/Files/tweetid - Copy.xml
/GQTwitterFollowers/Files/Timeline - Copy.xml
/GQTwitterFollowers/Files/NotFollowing - Copy.xml
/GQTwitterFollowers/Files/NeverFollow - Copy.xml
/GQTwitterFollowers/Files/Mapping - Copy.xml
/GQTwitterFollowers/Files/Friends - Copy.xml
/GQTwitterFollowers/Files/Friends - Copy - Copy.xml
/GQTwitterFollowers/Files/Followers - Copy.xml
/GQTwitterFollowers/Files/Followers - Copy - Copy.xml
/GQTwitterFollowers/Files/Exclude - Copy.xml
/GQTwitterFollowers/Files/Analyze - Copy.xml
/GQTwitterFollowers/obj/Debug/GQTwitterFollowers.pdb
/GQTwitterFollowers/obj/Debug/GQTwitterFollowers.dll
/GQTwitterFollowers/obj/Debug/GQTwitterFollowers.csprojResolveAssemblyReference.cache
/GQTwitterFollowers/obj/Debug/GQTwitterFollowers.csproj.ResolveComReference.cache
/GQTwitterFollowers/obj/Debug/GQTwitterFollowers.csproj.FileListAbsolute.txt
/GQTwitterFollowers/obj/Release/GQTwitterFollowers.pdb
/GQTwitterFollowers/obj/Release/GQTwitterFollowers.dll
/GQTwitterFollowers/obj/Release/GQTwitterFollowers.csproj.FileListAbsolute.txt
/GQTwitterFollowers/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/GQTwitterFollowers/obj/Release/TempPE/App_GlobalResources.Resource1.designer.cs.dll
